spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    properties:
      hibernate:
        format_sql: false

app:
  jwt:
    secret: ${JWT_SECRET_BASE64}
  bootstrap:
    admin:
      enabled: false
